body {
  background-color: rgb(7, 7, 30);
  background-image: url("./images/bg_tex.webp");
  background-attachment: fixed;
  background-position: center center;
  overflow-x: hidden;
  /*min-width: 768px;
  _width: expression( document.body.clientWidth < 768 ? "768px" : "auto" ); /* sets max-width for IE6 */
}

header {
  position: relative;
  background-color: black;
  height: 90vh;
  min-height: 25rem;
  width: auto;
  overflow: hidden;
  z-index: 0;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  -webkit-filter: blur(4px);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(0deg, rgba(2, 0, 36, 1) 0%, rgba(7, 7, 30, 1) 16%, rgba(3, 3, 15, 0) 33%);
  opacity: 0.5;
  z-index: 1;
}

hr {
  color: seashell;
}

div.logo-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 90vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  padding-bottom: 4rem;
  animation: logo-container 1.33s ease-out 0.33s forwards;
}

div.logo-container > img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
  position: relative;
  width: 75vw;
  height: auto;
  z-index: 3;
  animation: logo-container-img 5s ease-in-out 5s infinite;
}

div.logo-container > a {
  font:
    2rem "Roboto",
    sans-serif;
  font-weight: 700;
  color: #fff;
  margin-top: 7rem;
  opacity: 0;
  text-decoration: none;
  z-index: 3;
  animation: logo-container-cta 0.33s ease-out 3.16s forwards;
}

div.logo-socials-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1rem;
  margin-top: 0rem;
  width: 40vw;
  justify-items: center;
  align-items: center;
  opacity: 0;
  z-index: 3;
  animation: appear 0s ease-out 1s 1 forwards;

  & > a:nth-child(1) {
    animation-delay: 1s;
  }

  & > a:nth-child(2) {
    animation-delay: 1.25s;
  }

  & > a:nth-child(3) {
    animation-delay: 1.5s;
  }

  & > a:nth-child(4) {
    animation-delay: 1.75s;
  }
}

div.logo-socials-container > a {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  opacity: 0;
  z-index: 3;
  animation: logo-socials-container 0.33s ease-out 2.33s forwards;
}

div.logo-socials-container > a:hover {
  opacity: 1;
  animation-fill-mode: none;
}

hr {
  margin: 1.5rem 0;
  min-height: 2px;
  color: #f8f9fa;
  opacity: 0.1;
}

.section-title {
  font-size: 3.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
  color: #ffad22;
  text-align: center;
}

div.features-row {
  display: flex;
  flex-direction: row;
}

div.features-row:nth-of-type(even) {
  flex-direction: row-reverse;

  & > div > h3,
  & > div > p {
    text-align: right;
  }
}

div.features-row > div:nth-child(1) {
  width: 50%;
}

div.features-row > div:nth-child(2) {
  width: 50%;
}

.play-demo-text {
  transition: 0.16s ease-in-out;
  color: #ddddff;
}

.play-demo-text:hover {
  color: #ffad22;
}

.features-img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
  width: 100%;
  height: auto;
  border-radius: 1rem;
  animation: features-img-appear 1.33s ease-out 0.66s forwards;
  object-fit: cover;
  max-height: 360px;
}

.features-text-title {
  font-size: 3rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #ffad22;
  letter-spacing: 2px;
}

.features-text-description {
  font-size: 1.16rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-weight: lighter;
  color: #ddddff;
  line-height: 1.66rem;
}

.features-text-description > strong {
  color: #f8f9fa;
  font-weight: bolder;
}

.features-text-description > del {
  color: #ff1515;
  font-weight: 100;
  text-decoration: double line-through white;
}

.newsletter {
  z-index: 3;
}

.newsletter-container {
  width: 57%;
}

.newsletter-header-img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

.newsletter-embed {
  background: rgba(255, 255, 255, 1);
  clear: left;
  font:
    14px Helvetica,
    Arial,
    sans-serif;
  -webkit-filter: opacity(0.95);
  border-radius: 6px;
  padding-left: 0;
  padding-right: 0;
}

/* Scrollbar */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 8px rgba(7, 7, 30, 0.33);
  background-color: rgb(33, 33, 55);
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 8px;
  border-radius: 10px;
  background-color: rgb(33, 33, 55);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgb(7, 7, 30);
}

.no-visible {
  visibility: hidden;
}

/* Animation */
@keyframes logo-container {
  0% {
    opacity: 0;
    transform: translateY(-8%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes logo-socials-container {
  0% {
    opacity: 0;
    transform: translateY(16%);
  }
  100% {
    opacity: 0.66;
    transform: translateY(0%);
  }
}

@keyframes logo-container-cta {
  0% {
    opacity: 0;
    transform: translateY(16%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes logo-container-img {
  0% {
    filter: contrast(1) brightness(1);
  }
  33% {
    filter: contrast(1.16) brightness(1.16);
  }
  66% {
    filter: contrast(0.9) brightness(1);
  }
  100% {
    filter: contrast(1) brightness(1);
  }
}

@keyframes features-img-appear {
  0% {
    opacity: 1;
    transform: rotateY(180deg) scale(0.95);
    filter: contrast(0);
  }
  100% {
    opacity: 1;
    transform: rotateY(0) scale(1);
    filter: contrast(1);
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Media Queries */
@media screen and (max-width: 768px) {
  header {
    height: 85vh;
  }

  div.logo-container {
    min-height: 85vh;
    height: 85vh;
  }

  div.logo-container > img {
    width: 100%;
    height: auto;
    margin-top: 25vh;
    transform: scale(1.33);
  }

  div.logo-socials-container {
    margin-top: 2rem;
    width: auto;
    grid-gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr;
  }

  div.logo-socials-container > a:nth-child(4) {
    display: none;
  }

  div.logo-container > a {
    font-size: 2.5rem;
  }

  div.features-row {
    flex-direction: column;

    & > div {
      min-width: 100%;

      & > h3 {
        font-size: 2rem !important;
        text-align: center !important;
        margin-top: 0.5rem;
        margin-bottom: 1rem;
      }

      & > p {
        text-align: center;
        text-align: center !important;
        line-height: 2rem !important;
      }
    }
  }

  .newsletter-container {
    width: 100%;
  }
}
